.main{
  min-height: 100vh;
  background: linear-gradient(180deg, var(--genre-background) 0%, var(--canvas-color) 100%);
  padding-left: 17vw;
  margin-top: 9vh;
  z-index: -222;
  padding-bottom: 8vw;
}


