<!--
<button (click)="login()">Login</button>
<button (click)="getTracks(null)">Get tracks</button>
<button (click)="getGenres()">Get genres</button>

<ng-container *ngFor="let genre of genres">
  <p>{{genre.name}}</p>
</ng-container>

<ng-container *ngFor="let track of pagedResponseTracks.data">
  <p>{{track.title}}</p>
</ng-container>

<p>Current page : {{pagedResponseTracks.current_page}}</p>
<p>From: {{pagedResponseTracks.from}}</p>
<p>Last page: {{pagedResponseTracks.last_page}}</p>
<p>Total items : {{pagedResponseTracks.total}}</p>
<p>Per page : {{pagedResponseTracks.per_page}}</p>

<button (click)="getTracks(pagedResponseTracks.next_page_url)">Next page</button>
-->
<div class="main">
  <app-sidenav></app-sidenav>
  <app-topnav></app-topnav>
  <router-outlet></router-outlet>

  <ng-template [ngIf]="audioService.track.path">
    <app-player></app-player>

  </ng-template>

</div>

