<div class="dialog">
  <h2 mat-dialog-title>Create a new playlist</h2>
  <mat-dialog-content class="mat-typography">
    <div class="form">
      <mat-form-field class="custom-form-field" >
        <mat-label>Title *</mat-label>
        <input matInput class="custom-input">
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>Description </mat-label>
        <input matInput class="custom-input">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>
      Cancel
    </button>
    <button mat-raised-button class="custom-button">
      Create
    </button>
  </mat-dialog-actions>
</div>
